<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "demon.tuneableice.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>StarText Logo</name>

    <description>
        Adventure!
    </description>

    <author href="http://scratch.mit.edu/users/tuneableice" email="[]">
        tuneableice
    </author>

</widget>
